# Visual Studio specific
.vscode/
.vs/
*.vcxproj.user
*.suo
*.user
*.ipch
*.obj
*.pch
*.idb
*.pdb
*.log
*.tlog
*.lastbuildstate
*.sdf
*.opensdf
*.cachefile
*.VC.db
*.VC.VC.opendb
*.psess
*.vsp
*.vspx
*.tmp
.vscode/
.vs/

# Build directories
Debug/
Release/
x64/
ARM64/
x86/

# CMake specific
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/
Testing/
Makefile
cmake_install.cmake
CTestTestfile.cmake

# Submodule
vcpkg/